.container{
    margin: auto;
    background-color: #F6C26C;
    max-height: 700px;
    padding:5%;
    /* border: 1px solid #8F2404; */
}
.innerContainer{
    margin: auto;
    background-color: #F6C26C;
    color:#8F2404;
    max-width: 1000px;
    max-height: 600px;
}
.greeting{
font-size: 2em;

}
.contentWrapper{
padding-top: 70px;
}
.name{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
}

.title{
    font-size: 2em;
}

img{
    border-radius: 50%;    
    max-height: 400px;
    float: right;
    margin: 5%;
}

.disclaimer {
    font-size: 16px;
    text-align: justify;
  }
