.THIS {
  position: relative;
  z-index: 1;
}
.THIS .mainContentArea {
  max-width: 1440px;
  margin: auto;
  display: block;
}
.THIS .themeHeader {
  border-bottom: 1px solid #5d7380;
}
.THIS .newHeader {
  border-bottom: 1px solid #5d7380;
}